# files not to be uploaded to git

.Rhistory
reference_list.html
reference_list.Rmd
visualizations.Rmd
helpful git code.txt
*.Rapp.history
*.tex
*.fff
/ges3000_files/*
.Rproj.user
apa.csl
pnas.csl
visualizations.Rmd


/ges3000_cache/
lit/

*.Rhistory
*.Rproj

